<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card imageCover="https://wiki.tripwireinteractive.com/images/4/47/Placeholder.png"
    cardTitle="Lorem Ipsum"
    cardDescription = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada turpis eu ipsum commodo, eget interdum dui mattis. Duis feugiat enim lacinia congue tempus. Sed aliquam imperdiet venenatis. Vestibulum eget massa ullamcorper, fringilla mauris vel, vulputate nunc. Donec faucibus nunc ut lorem vulputate fermentum."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    imageCover="https://wiki.tripwireinteractive.com/images/4/47/Placeholder.png"
    cardTitle="Teste 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    </app-small-card>
    <app-small-card imageCover="https://wiki.tripwireinteractive.com/images/4/47/Placeholder.png"
    cardTitle="Teste 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit." >
    </app-small-card>
    <app-small-card imageCover="https://wiki.tripwireinteractive.com/images/4/47/Placeholder.png"
    cardTitle="Teste 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit." >
    </app-small-card>
  </div>

</div>

